.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
.vscode/c_cpp_properties.json
main
main4.c
header.h
.vscode/c_cpp_properties.json
gioco
test1
test1.c
test2
test2.c
test3
test3.c
test4
test4.c
test6
test6.c
test7vc
test7vc.c
gioco
.vscode/c_cpp_properties.json
